.container{
  width: 980px;
  margin: 0 auto;
}

li {
  list-style: none;
}

.form {
  display: flex;
}

.title{
  font-size: 2.0rem;
  font-weight: bolder;
  margin-bottom: 20px;
}

.baby-form{
  text-align: center;
}

.field{
  margin-bottom: 10px;
}

.form-label{

}

.next{
  margin-top: 10px;
}