.container{
  width: 980px;
  margin: 0 auto;
}

li {
  list-style: none;
}

.form {
  display: flex;
}

.title{
  font-size: 2.0rem;
  font-weight: bolder;
  margin-bottom: 20px;
}

.baby-form-aria{
  width: 100vw;
  height: 100vh;
  background-color: blanchedalmond;
  /* margin: 0 auto; */
}

.baby-form{
  text-align: center;
}

.field{
  margin-bottom: 10px;
}


.next{
  margin-top: 10px;
}
