/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .btn {
  display: block;
  width: 65%;
  padding: 1.4rem;
  background-color: #0e1a2e;
  color: #fff;
  transition: all .3s ease-out;
  margin: 0 auto;
  text-align: center;
  border: solid 4px #0e1a2e;
  font-weight: bold;
 }

 .btn::hover{
  background-color: transparent;
  color: #0e1a2e;
 }

a::hover{
    color: #23a0da;
    outline: none;
    text-decoration: none;
}